body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.bg-image{
    background-image: url(./assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
    color: rgb(24, 15, 15);
    background-color: transparent
}

.navbar .logo{
    color: #ffa23f;
    font-size: 28px;
    font-weight: bolder;
}

.navbar .logo span{
    color: #3259fa;
}

.navbar .menus ul
 { 
    display:flex;
    align-items: center;
    gap: 17px;
}

.navbar .menus ul li{
    list-style-type: none;
}

.navbar .menus ul li a{
    text-decoration: none;
    color: black;
}

.navbar .right-section{
    display: flex;
    align-items: center;
    gap: 11px;
}

.navbar .right-section .form-control{
    border: 1px solid gray;
    padding: 5px;
    border-radius: 9px;
    width: 150px;

    display: flex;
    align-items: center;
    gap: 8px;
}

.navbar .right-section .form-control input{
    background: transparent;
    border: none;
    outline: none;
}

.navbar .right-section .form-control:focus{
    outline: none;
    border: none;
}

.navbar .right-section .cart{
    border: 1px solid gray;
    padding: 5px;
    border-radius: 9px;
    width: 40px;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 8px;
}

.navbar .right-section .cart i{
    color: #3259fa;
    font-weight: bold;
}

.navbar .right-section .profile img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 100px;
    cursor: pointer;
}


/* Hero */
.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px;
}

.hero-content h1{
    font-size: 60px;
    font-weight: bold;
    margin: 0;
}

.hero-content h1 span{
    color: #ffa23f;
}

.hero-content p{
    font-size: 20px;
    margin: 8px 0;
    padding: 0;
}

.hero-content a{
    display: inline-block;
    text-decoration: none;
    background-color: rgb(25, 25, 25);
    color: white;
    border-radius: 30px;
    padding: 17px 40px;
    font-size: 19px;
    margin-top: 10px;
    border: none;
    cursor: pointer
}

.service-overview {
    background-color: #ffa23f;
    color: rgb(16, 6, 6);
    padding: 35px 20px;
    text-align: center;
}

.achievements {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.achievements div{
    margin: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    font-size: 25px;
}

.achievements div i{
    font-size: 47px;
    font-weight: normal;
}

.achievements div p{
    margin: 0;
    text-align: left;
    font-weight: 400;
    font-size: 20px;
}

.achievements div p span{
    font-weight: bolder;
    text-align: left;
    font-size: 35px;
}